.tracks {
  margin-top: 15vh;
}

.tracks .container {
  width: 40%;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: currentcolor;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 20px;
}

.trackLeft {
  display: flex;
  align-items: center;
}

.track__info {
  margin-left: 10px;
}

.track__name {
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.track__author {
  font-size: 13px;
  margin-top: 10px;
  color: white;
}
