.header {
  height: 10vh;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 3;
}

.header .container {
}

.header__logo {
  color: white;
}

.header__logo img {
  width: 100%;
  height: auto;
}
